.heading {
    font-size: 23px;
    width: 100%;
    margin: 0;
}

.note {
    font-size: 15px;
    color: black;
}

body {
    background-size: cover;
}

#speed {
    font-size: 23px;
    margin: 80px;
}

#canvas {
    width: 400px;
    height: 500px;
}